.info{
    height: 8em;
    padding: 2em $offset;
    align-items: flex-start;
    padding-top: 1em;

    &__title{
        font-size: 3.1em;
        font-weight: 700;
        line-height: 1.2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &-original{
            font-size: 1.8em;
            margin-top: 0.4em;
        }
    }
}