.menu{
    width: 100%;

    &__logo{
        width: 5.6em;
        margin: 0 0 1.5em 1em;
    }

    &__split{
        margin: 1em 1.4em;
        width: 2.3em;
        border-top: 2px solid rgba(255, 255, 255, 0.1)
    }

    &__list{
        margin: 0;
    }

    &__item{
        color: #ddd;
        position: relative;
        padding: 0.46em $offset;

        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 20%;
            display: none;
            left: 0;
            bottom: 20%;
            width: 0.3em;
            background-color: #d81f26;
        }

        &:after{
            content: '';
            display: block;
            clear: both;
        }

        + li{
            margin-top: 0.1em;
        }

        &.focus{
            &:before{
                display: block;
            }

            .menu__ico{
                background-color: #d81f26;
                border-radius: 0.3em;
            }
        }

        &.active{
            &:before{
                display: block;
            }
        }
    }

    &__ico{
        margin-right: 1em;
        width: 1.8em;
        height: 1.8em;
        padding: 0.35em;
        float: left;

        > img,
        > svg{
            width: 1.1em;
            height: 1.1em;
        }
    }

    &__text{
        font-size: 1.4em;
        font-weight: 300;
        line-height: 0.8;
        margin-top: 0.2em;
        float: left;
    }
}