.wrap{
    position: relative;
    z-index: 10;

    &__left{
        width: 16%;
        float: left;
    }

    &__content{
        width: 84%;
        float: left;
    }

    &:after{
        content: '';
        display: block;
        clear: both;
    }
}